#
# IIO imu drivers configuration
#
menu "Inertial measurement units"

config ADIS16400
	tristate "Analog Devices ADIS16400 and similar IMU SPI driver"
	depends on SPI
	select IIO_SW_RING if IIO_BUFFER
	select IIO_TRIGGER if IIO_BUFFER

source "drivers/staging/iio/imu/mpu/Kconfig"
endmenu
